{% extends 'home.html.twig' %}
{% block body %}
<div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <h2 class="title">--</h2>
                            <h5 class="description">--</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card card-pricing card-plain">
                                <div class="card-content">
                                    <h6 class="category"></h6>
                                    <div class="icon">
                                        <i class="material-icons">weekend</i>
                                    </div>
                                    <h3 class="card-title">ABONNEMENT TV</h3>
                                    <p class="card-description">
                                        Abonnement mensuel ou annuel de tous les grande bouquets du monde.
                                    </p>
                                    <a href="#" class="btn btn-white btn-round">Abonner</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-pricing card-raised">
                                <div class="card-content">
                                    <h6 class="category"></h6>
                                    <div class="icon icon-rose">
                                        <i class="material-icons">home</i>
                                    </div>
                                    <h3 class="card-title">SAYCOM LABS</h3>
                                    <p class="card-description">
                                        SAYCOMLABS est une agence de marketing B2B spécialisée dans l’Internet Marketing, la conception et la construction de sites Web.
                                    </p>
                                    <a href="https://saycomlabs.com" class="btn btn-rose btn-round">Développer</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-pricing card-plain">
                                <div class="card-content">
                                    <h6 class="category"></h6>
                                    <div class="icon">
                                        <i class="material-icons">business</i>
                                    </div>
                                    <h3 class="card-title">Maintenance</h3>
                                    <p class="card-description">
                                        Notre objectif est de fournir un service de très haute qualité à tarif étudié pour les petites et moyennes entreprises, les indépendants et les particuliers.
                                    </p>
                                    <a href="#pablo" class="btn btn-white btn-round">Réparer</a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
{% endblock %}