{% extends 'abonn.html.twig' %}
{% block body %}
    
    <div class="container-fluid">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                
                                <div class="card-content">
                                    <div class="toolbar">
                                        <!--        Here you can write extra buttons/actions for the toolbar              -->
                                    </div>
                            
                                        <h3 class="wizard-title">
                                            Espace Revendeur
                                        </h3>
                                    
                                    
                                    
                                            <div class="row">
                                                <h4 class="info-text"> Choisir votre produits catégorie du produit</h4>
                                                <div class="col-sm-2 col-sm-offset-1"> </div>
                                                
                                                <div class="col-sm-5">
                                                    
                                                    <div class="form-group label-floating is-empty">
                                                        <label class="control-label">Country</label>
                                                        <select  id="categorie" name="country" class="form-control">
                                                            <option disabled="" selected=""></option>
                                                            {% for type_produit in type_produit %}
                                                                
                                                            <option value= {{ type_produit.type }}> {{ type_produit.type }} </option>

                                                            {% endfor %}
                                                        </select>
                                                    <span class="material-input"></span>
                                                    
                                                </div>
                                                
                                                </div>
                                            </div>
                                        <div id="loading"></div>
                                    <div class="wizard-footer">
                                        <div class="pull-right">
                                            <!-- Modal -->

                                        </div>
                                        <div class="pull-center" style="padding-left: 100px;">
                                            <span class="material-input" id="tab_vende"></span>
                                        </div>
                                        
                                        <div class="clearfix"></div>
                                    </div>
                                </form>
                            </div>
    </div>
                </div>
            </div>
        </div>
    </div>
                    
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
    $().ready(function() {
        demo.initMaterialWizard();
    });
</script>
{% endblock %}
