{% extends 'admin.html.twig' %}

{% block body %}
    <h1>Produit Fournisseur list</h1>

    <table>
        <thead>
        <tr>

            <th>nom</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.nom }}</td>


            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}